[data-theme="light"] {
  --color-success: #166534;
  --color-success-fg: #ffffff;

  --color-warning: #facc15;
  --color-warning-fg: #000000;

  --color-error: #b91c1c;
  --color-error-fg: #ffffff;

  --color-info: #3b82f6;
  --color-info-fg: #ffffff;
}

[data-theme="dark"] {
  --color-success: #166534;
  --color-success-fg: #ffffff;

  --color-warning: #facc15;
  --color-warning-fg: #000000;

  --color-error: #b91c1c;
  --color-error-fg: #ffffff;
  
  --color-info: #3b82f6;
  --color-info-fg: #ffffff;
}
